{% extends 'base.html' %}
{% block main_content %}
    <div class="row blog-page">
    <div class="col-md-9">
    <div class="funny-boxes funny-boxes-colored funny-boxes-blue">
        <div class="row">
            <div class="col-md-4 funny-boxes-img">
                <img alt="" src="{{ STATIC_URL }}unify/assets/img/new/img5.jpg" class="img-responsive">
                <ul class="list-unstyled">
                    <li><i class="fa fa-briefcase"></i> Dell, Google</li>
                    <li><i class="fa fa-map-marker"></i> New York, US</li>
                </ul>
            </div>
            <div class="col-md-8">
                {% for post in posts %}
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <ul class="list-unstyled funny-boxes-rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ post.created_date }}</p>
                    <a class="btn-u btn-u-red" href="{{ post.get_absolute_url }}">read more</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main_content %}

