{% extends 'base.html' %}
{% block main_content %}
    <div class="funny-boxes funny-boxes-colored funny-boxes-blue">
        <div class="row">
            <div class="col-md-4 funny-boxes-img">
                <img alt="" src="{{ STATIC_URL }}unify/assets/img/new/img5.jpg" class="img-responsive">
                <ul class="list-unstyled">
                    <li><i class="fa fa-briefcase"></i> Dell, Google</li>
                    <li><i class="fa fa-map-marker"></i> New York, US</li>
                </ul>
            </div>
            <div class="col-md-8">
                <h1>{{ post.title }}</h1>
                <p>{{ post.text|linebreaks }}</p>
                <p>{{ post.created_date }}</p>

            </div>
        </div>
    </div>
{% endblock main_content %}